.vscode
.gradle
./**/build

/api1/.vscode
/api1/.gradle
/api1/bin
/api1/build
/api1/gradle

/api1/.vscode
/api2/.gradle
/api2/bin
/api2/build
/api2/gradle

/apigateway/.vscode
/apigateway/.gradle
/apigateway/bin
/apigateway/build
/apigateway/gradle